<!DOCTYPE html>
<html>
  <head>
    <title>CryptoWallet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= development_banner %>

    <%= yield %>

    <footer>
      <select id="select-language" placeholder="<%= t 'select_language' %>">
        <option value='pt-BR' <%= 'selected' if cookies[:lang] == 'pt-BR' %>>Português - Brasil</option>
        <option value='en' <%= 'selected' if cookies[:lang] == 'en' %>>English - US</option>
      </select>
    </footer>
  </body>
</html>
