<main class="wrapper">
  <%= show_flash error, :error %>
  <%= show_flash notice, :success %>

  <h1 class="title"><%= application_name %></h1>

  <ul class="coins">
    <% @coins.each do |coin| %>
      <li class="coin">
        <div class="coin_head">
          <% unless coin.url_image.empty?  %>
            <%= image_tag coin.url_image, class: "coin_image" %>
          <% end %>

          <p><%= coin.acronym %> - <%= coin.description %></p>
        </div>

        <div class="links">
          <%= link_to t('links.show'), coin_path(coin), class: "link"  %>
          <%= link_to t('links.edit'), edit_coin_path(coin), class: "link" %>
        </div>
      </li>
    <% end %>
  </ul>

  <%= link_to t('links.new'), new_coin_path, class: "new" %>
</main>
